
body{
    text-align: center;
    border: 3px dotted purple;
    margin: 0;
    padding: 0;
}

.logo{
    width: 250px;
}


.titulo{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}

.txtRoxo{
    color: purple;
}


.txtAzul{
    color: blue;
}

.txtVerde{
    color: green;
}

.paragrafo{
    line-height: 20px;
    color: pink;
}
